@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat-Bold'), url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Bold.eot') format('eot'), url('../fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat-SemiBold'), url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-SemiBold.eot') format('eot'), url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat-Medium'), url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Medium.eot') format('eot'), url('../fonts/Montserrat/Montserrat-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: local('Montserrat-Thin'), url('../fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Thin.eot') format('eot'), url('../fonts/Montserrat/Montserrat-Thin.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold.eot');
  src: url('.../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
