.modal-article {
  display: none;
  position: fixed;
  z-index: 3;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
  }
  &__inner {
    background-color: #fff;
    position: relative;
    z-index: 5;
    color: #000;
    max-width: 800px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

.modal-article {
  &__title {
    text-align: center;
    font-size: 20px;
  }
  &__text {
    p {
      margin-top: 20px;
      font-size: 18px;
      text-indent: 30px;
    }
  }
}

.modal-preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #212121;
  z-index: 100;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s, visibility 0s linear 1s;

  img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &_hide {
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .modal-article {
    &__inner {
      width: 80%;
      max-height: 80vh;
    }
  }
}
@media (max-width: 767px) {
  .modal-preloader {
    img {
      width: 90%;
    }
  }
}
